
/* Default styling */
*{
	margin: 15px, 5px, 15px, 5px;  
	padding: 0;
	box-sizing: content-box;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* Style the header*/
header{
    height: auto;
    width: 100%;
    position: static;
    top: 0;
	z-index: 2;
}

/* Style the carousel */
.Carousel{
	position: relative;
	width: 100%;
	background: #2c3e50; /* darkblue */
}
/* Style Images in Carousel  */
.Carousel-Image{
	height: auto;
	display: none;
	overflow: hidden;
}
/* Style both buttons */
.Previous, .Next{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 50px;
	padding: 15px;
	cursor: pointer;
	color: #fff;
	transition: 0.1s;
	user-select: none;
}
/* on hover chage colour to green */
.Previous:hover, .Next:hover{
	color: #00ff62; /* green */
}
/* Put Next button on right */
.Next{
	right: 0;
}
/* Style the Navagation Box*/
.NavagationCircleBox{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 20px;
	cursor: pointer;
}
/* Style the Circles*/ 
.Circle{
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 3px solid #fff;
	border-radius: 50%;
	margin: 0 10px;
	cursor: pointer;
	background-color: rgba(128, 128, 247, 0.2);
}
/* Style Circle to green on hover */
.Circle:hover{
	background-color: #00ff62; /* green */	
}

/* When activated in JS change colour to blue  */
.activated, .Circle:hover{
	border-color: #00a7ff; /* blue */
}

/* Creating the transistion animation */
/* .transistion {
  -webkit-animation-name: transistion;
  -webkit-animation-duration: 3s;
  animation-name: transistion;
  animation-duration: 3s;
} */

/* @-webkit-keyframes transistion {
  from {opacity: 0.3}
  to {opacity: 1}
}

@keyframes transistion {
  from {opacity: 0.3}
  to {opacity: 1}
} */

/* Text styling with Animation */
.Text{
	position: absolute;
	color: #fff;
	letter-spacing: 2px;
	line-height: 35px;
	top: 40%;
	left: 15%;
	/* -webkit-animation-name: posi;
  	-webkit-animation-duration: 2s;
  	animation-name: posi;
  	animation-duration: 2s; */
	z-index: 1;
}
/* 
@-webkit-keyframes posi {
  from {left: 25%;}
  to {left: 15%;}
}

@keyframes posi {
  from {left: 25%;}
  to {left: 15%;}
} */

.Text h1{
	color: #00a7ff; /* blue */
	font-size: 50px;
	margin-bottom: 20px;
}
.Text p{
	font-weight: bold;
	font-size: 20px;
}

/* Animation for the image carousel */
/* img{
	transform: scale(1.5, 1.5);
	-webkit-animation-name: zoomin;
  	-webkit-animation-duration: 40s;
  	animation-name: zoomin;
  	animation-duration: 40s;
}
@-webkit-keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}


@keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
} */

/* Make flexible with mobile */
@media screen and (max-width: 800px){
	  /* .Carousel-Image{
		height: 500px; 
		width: auto;
	} */
	.Carousel-Image {
		max-width: 800px;
		/* max-height: fit-content; */
        width: auto;
    	height: auto;
    }
	.Text{
		letter-spacing: 2px;
		line-height: 25px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		/* -webkit-animation-name: posi2;
		-webkit-animation-duration: 2s;
		animation-name: posi2;
		animation-duration: 2s; */
	}

	/* @-webkit-keyframes posi2 {
	  from {top: 35%;}
	  to {top: 50%;}
	}


	@keyframes posi2 {
	  from {top: 35%;}
	  to {top: 50%;}
	} */

	.Text h1{
		font-size: 40px;
	}
	.Text p{
		font-size: 13px;
	}
}

@media screen and (max-width: 250px){
     .Carousel-Image {
		max-width: 250px;
        width: auto;
        height: auto;
    } 
	.Text h1{
		font-size: 16px;
		/* margin-bottom: 40px; */
	}
}








